.reservation {
  text-align: center;
  margin-top: 64px;

  &-info {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;

    &__card {
      display: flex;
      flex-direction: column;
      gap: 40px;
    }
  }

  button {
    margin-top: 40px;

    a {
      color: var(--bg-color);
      text-decoration: none;
      transition: all 0.1s ease-in-out;
    }

    a:hover {
      color: var(--bg-color);
    }
  }
}

@media (max-width: 1050px) {
  .reservation {
    &-info {
      flex-direction: column;
    }

    button {
      margin-top: 40px;
    }
  }
}

@media (max-width: 700px) {
  .reservation-info {
    img {
      max-width: 500px;
    }
  }
}

@media (max-width: 500px) {
  .reservation-info {
    img {
      max-width: 350px;
    }
  }
}
