.mero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 64px;

  &__cards {
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 80px;
  }
}
