.mero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 64px;

  &__cards {
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 80px;
  }
}

@media (max-width: 1200px) {
  .mero {
    &__cards {
      flex-direction: column;
      gap: 40px;
    }
  }
}
