.menu-card {
  margin-top: 40px;
  max-width: 521px;
  border: 3px solid var(--text-color);
  border-radius: var(--border);
  padding: 36px;
  transition: all 0.2s ease-in-out;
  cursor: pointer;

  &__info {
    display: flex;
    justify-content: space-between;

    &-title {
      text-align: start;
    }
  }
}

.menu-card:hover {
  border: 3px solid var(--accent-color);
}

@media (max-width: 1400px) {
  .menu-card {
    max-width: 429px;
  }
}

@media (max-width: 1050px) {
  .menu-card {
    max-width: 350px;

    img {
      max-width: 350px;
    }
  }
}

@media (max-width: 700px) {
  .menu-card {
    max-width: 250px;

    img {
      max-width: 250px;
    }
  }
}
