.menu {
  text-align: center;
  margin-top: 64px;

  &__cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 120px;
  }
}

@media (max-width: 1400px) {
  .menu {
    margin-top: 40px;

    &__cards {
      gap: 40px;
    }
  }
}

@media (max-width: 1050px) {
  .menu {
    &__cards {
      display: flex;
      align-items: center;
      flex-direction: column;
      gap: 16px;
    }
  }
}
