.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 64px 64px;

  h1 {
    margin-bottom: 40px;
  }

  &-info {
    display: flex;
    gap: 40px;

    &__map {
      width: 600px;
      height: 300px;
    }

    &__descr {
      text-align: start;
      text-transform: none;

      .pink-text {
        text-transform: none;
        font-size: 24px;
        font-weight: 600;
      }
    }
  }
}

@media (max-width: 900px) {
  .contact {
    &-info {
      flex-direction: column;

      &__descr {
        text-align: center;
      }
    }
  }
}

@media (max-width: 620px) {
  .contact {
    &-info {
      &__map {
        max-width: 500px;
      }
    }
  }
}

@media (max-width: 500px) {
  .contact {
    &-info {
      &__map {
        max-width: 400px;
      }
    }
  }
}

@media (max-width: 400px) {
  .contact {
    &-info {
      &__map {
        max-width: 350px;
      }
    }
  }
}
