.banner {
  width: 100%;
  overflow: hidden;
  position: relative;

  img {
    width: 100vw;
    height: 900px;
    object-fit: cover;
    display: block;
    transition: opacity 0.3s ease;
  }
}

@media (max-width: 1400px) {
  .banner {
    img {
      height: 600px;
    }
  }
}
