.header {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: 20px 32px;
  gap: 120px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: var(--bg-color);
  padding: 12px;
  border-radius: 25px;

  img {
    max-height: 75px;
    transition: all 0.2s ease-in-out;
  }

  img:hover {
    max-height: 75px;
    transform: scale(1.05);
  }

  ul {
    display: flex;
    flex-direction: row;
    gap: 3.75em;
  }
}

.burger {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  margin: 24px;
  display: flex;
  border-radius: 25px;
  background-color: var(--bg-color);
  width: 80px;
  height: 80px;
  padding: 10px;
}

.burger-menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
  width: 100vw;
  height: 100vh;
  background-color: var(--bg-color);
  display: flex;
  justify-content: center;
  text-align: center;
  padding-top: 40px;

  ul {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  img {
    position: absolute;
    top: 20px;
    right: 36px;
    max-width: 40px;
    cursor: pointer;
  }
}

@media (max-width: 1200px) {
  .burger {
    width: 55px;
    height: 55px;
    padding: 10px;
  }
}
